body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000328;
}
/* The top head of the page*/
.container-header {
    margin: 0;
    background-color: #000328;
    height: 84px;
    display: flex;
    padding: 15px;
}
.center {
    display: flex;
    align-items:center;
    justify-content: center;
}
.title{
    color:aqua;
    font-size: 48px;
    text-align: justify;
    margin-right: 15px;
}
.mid-header{
    padding: 15px;
}
.name{
    height:50px;
    width: 150px;
    background-color: black;
    color: white;
    font-weight: 600;
    margin-right: 15px;
}
.clock {
    height:50px;
    width: 150px;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin-right: 15px;
}

#userbutton{
    
    background-color: #E1AD01;
    border-radius: 15px;
    font-size: large;
    font-weight: 600;
}
/* the part of the page that is used, staging and shapes*/
.container-staging{
    
    padding: 30px;
    display: flex;
    
}
.use-staging{
    background-color: white;
    height: 700px;
    width: 1340px;
    border-style: solid;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
}
.container-shapes {
    padding-left: 60px;
}
.shapes{
    background-color: bisque;
    height: 700px;
}