
.header{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .name{
    display: flex;
    align-items:center;
    justify-content: center;
      color: Black;
      font-weight: 500;
      text-align: center;
      font-size: 42px;
  }
  .moves{
    display: flex;
    align-items:center;
    justify-content: center;
    min-height:55px;
    min-width: 350px;
      color: Black;
      font-weight: 500;
      text-align: center;
      font-size: 42px;
  }
  
  .clock {
    display: flex;
    align-items:center;
    justify-content: center;
      min-height:55px;
      min-width: 160px;
      
      color: Black;
      font-weight: 500;
      font-size: 42px;
      text-align: center;
      
  }
